/*
element selector
>element_or_group.html
*/
body{
    width: 50%;
    padding: 20px;
}
p{
    color: rgb(0, 0, 0);
}
h3{
    color: blueviolet;
}
p.intro {
    background-color: yellow;
  }
p#intro{
    background-color: rgb(229, 130, 130);
}

/* element Group selecting 

#intro,
.intro,
body,
p,h3{
    border: 1px dashed green;
}
*/


/*
class selector
>class.html
*/

.myclass{
    color: aquamarine;
}

/*
id selector
>id.html
*/

#myid{
    color: gray;
}


/*
universal or star selector
>universal.html
*{

}
its working with all the html as linked with this css file
if you see the example look into the universal.html's body(inlineCss)
*/


/*
child selector
>child.html
*/

div > div > p{
    font-size: 50px;
    color: green;
}
div > div > h3{
    color: green;
}

li:first-of-type + li{
    color: red;
  }
/*
Descendant selector
>descendant.html
*/

div ul li p{
    color: red;
}
li a{color:blue;}
li a p{
    font-size: 50px;
}

/*
Addjunction shiblling selector
>add_shibling.html
*/

.container p + p + p + p{ /*[Terget is last P tag]*/
    font-size: 30px;
}

.container h2 ~ h2{
    color: blue;
}

/*All Shibling Selecting*/

.Mother{
    color: red;
}


/*******
 Attribute selectors 
 >attribute.html
*********/

/*[attribute] selector*/
[alt] {
    border: 2px solid rgb(255, 0, 0);
    background-color: blue;
}


/*[attribute=value] selector*/
[target='_blank'] {
    background-color: yellow;
}

/*[attribute~=value] selector*/

[title~=flower] {
    border: 2px dashed yellowgreen;
}

/*[attribute|=value] selector*/
[lang |= 'us'] {
    background-color: yellow;
}

/*[attribute^=value] selector*/
[class ^= 'next'] {
    background-color: chartreuse;
    border: 1px dashed red;
    margin-bottom: 5px;
}

/* [attribute $= 'value'] selector*/
[class $= 'test'] {
    background-color: cornflowerblue;
}

/* [attribute *= value] seletor< */
[class *= 'tost'] {
    background-color: rgb(33, 33, 255);
}
[id *= '1'] {
    background-color: brown;
}



/*#####################################################*/
/*####### first-last-even-odd childs selectors ########*/
/*####################################################*/
table{
    border-collapse: collapse;
}
td,th{
    border: 2px solid maroon;
    padding: 10px;
}



th:first-child{
    background-color: mediumspringgreen;
}
td:last-child{
    background-color: mediumvioletred;
}
td:nth-child(2n){color: cornflowerblue;}/*even childs*/
td:nth-child(2n+1){color: chartreuse;}/*odd childs*/