div{
    width: 100px;
    height: 100px;
    margin: 1px;
    background-color: tomato;
    border: 2px dashed teal;



}

/* body{
    display:flex;

} */

.item-1{
    /* z-index: 11; */

}
.item-2{
    transform: rotate(45deg);
}