/*imported files*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');



/* common css */
body {


    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #161514;

    /* margin: 0; */
}
.buttons-primery{
    color: white;
    background-color: #FD6E0A;
    
    height: 40px;
    width: 100px;
    
    font-size: 16px;
    border: none;
    border-radius: 3px;
    

}
*p{
    color: rgb(94, 84, 80);
    font-size: 16px;
    font-weight: 400;
    
    letter-spacing: 5px;
    /* word-spacing: 3px; */

    text-wrap: pretty;


}







/* Start header section */

header {
    /* background-color: teal; */

    /* width 100% auto  */
    height: 560px;

    background-image: url('./resources/images/header_bg.png'),
                      url('./resources/images/developer.png');

    background-size: contain,
                     contain;

    background-repeat: no-repeat;

    background-position: bottom right,
                         5% 50%;


}

nav {
    /* background-color: blanchedalmond; */

    width: 70%;

    margin: 0 auto;
    /* padding-top: 20px; */

    display: flex;

    justify-content: space-between;
    align-items: center;
}

nav .top-name {
    font-size: 35px;
    /* color:181818; */
}
.top-name span{
    color:#FD6E0A;
}
nav .nav-options{
    display: flex;
    align-items: center;
} 

.nav-options ul{
    display: flex;
}
.nav-options li{

    list-style: none;
    font-size: 18px;

    padding: 10px 20px;
}
.nav-options a{
    text-decoration: none;
    color: inherit;
}
.nav-options button{
    /* button class dicleare in common css section  */
    margin-left: 20px;
}



header .header-content{


    margin-left: 170px;
    /* width: 70%; */

    display: flex;
    justify-content: space-between;
    
    height: 422px;
}

.header-content .profile{
    /* background-color: teal; */
    margin: 20px 0 0 10px;
    width: 450px;
    height: 300px;
} 

.profile h3{
    color: rgb(70, 60, 49);
    font-size: 30px;
}
.profile h1{
    font-size: 50px;
}
.profile p{
    /* some css difine in "*p{}" common css part  */
   
}
.profile .links{


    padding: 10px;
}
.links button{
    width: 150px;
}
.links button[title='contact']{
    width: 100px;
}
.links i{
    padding-right: 10px;
}

.header-content img{
    /* background-size: contain; */
    width: 600px;
}
/* End header  */



/* start main section  */

main{
    /* background-color: gray; */
    /* min-height: 500px; */
    padding-top: 70px;

}


/* about me  */

main .about-me{
    background-color: #FFF8F3;
    width: 80%;
    height: 350px;

    margin: 0 auto;

    border-radius: 10px; 
}
.about-me .container{
    width: 70%;
    margin: 0 auto;
}
.about-me h3{
    font-size: 30px;
    font-weight: 700;

    padding-top: 70px;
    text-align: center;
}
.about-me p{
    /* define style in common css */
    text-align: center;
}
.about-me .address{
    display: flex;
    justify-content: space-between;
}
.address p{
    color: #706c6a;
    font-size: 15px;
    text-align: center;

    position: relative;
    top: 15px;
}
.address h5{
    color: #595553;
}

/* what i do  */

main .what-i-do{
    /* background-color: #FFF8F3; */
    width: 80%;
    min-height: 400px;

    margin: 0 auto;

    border-radius: 10px; 
}

.what-i-do .container{
    width: 70%;
    margin: 0 auto;
}
.what-i-do h3{
    font-size: 30px;
    font-weight: 700;

    padding-top: 100px;
    text-align: center;
}
.what-i-do p{
    /* define style in common css */
    word-spacing: 1px;
    text-align: center;
   
}

.what-i-do .box-container{
    width: 90%;
    margin: 50px auto;
    padding-bottom: 50px;

    display: flex;

}
.box-item{
    margin: 10px;
    padding: 20px;

    background-color: white;
    border-radius: 5px;

    box-shadow: 5px 5px 10px 5px rgb(178, 162, 145);
}
.box-item img{width: 30px;}
.box-item h5{}
.box-item p{
    font-size: 12px;
    text-wrap: balance;
    text-align: justify;
    word-spacing: normal;
} 


/* summary of resume */

main .summary-of-resume{
    /* background-color: tomato; */

    width: 80%;
    margin: 50px auto;

}
.summary-of-resume > h3{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 40px;
}
.summary{
    /* background-color: teal; */
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}
.education{
    width: 50%;

    /* line-height: 1px; */
}
.education article{

}
.education h3{color: #474747;}
.education p{font-weight: 300;}


.projects{
    width: 50%;
}
.projects h3{
    color: #474747;
}
.summary-of-resume .button-center{
    text-align: center;
    padding: 50px;
}
.button-center button{
    width: 150px;
}
.button-center i{
    padding: 10px;
}