body {
    margin: 0;
    padding: 0;
}
/* bangla fonts */
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
/* .mina-regular {
    font-family: "Mina", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mina-bold {
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
  body{
    
   /* margin: 0 100px; */

    font-family: "Mina", sans-serif;
    font-weight: 800;
    font-style: normal;

    color:tan;

    background-color:rgb(164, 168, 168);
    /* background-image: url(./images/annie-spratt-h-LcVG8W1XY-unsplash.jpg);
    background-size: cover; */

  }


/* ############## Header Section ############# */

header {
    background-color: rgb(17, 117, 117);
    width: 100%;
    min-height: 200px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.header-container-one {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 300px;

}
.logo {


    height: 150px;
    width: 100px;

    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: 100px 150px;

}



.header-container-two {

    width: 50%;
    height: 300px;

    text-align: center;
 

}

.header-title-1 {

    font-size: 30px;

}

.header-title-2 {

    position: relative;
    top: -30px;
}

.header-title-3 {

    font-size: 23px;

    position: relative;
    top: -50px;

}

.header-title-4 {

    font-size: 23px;

    position: relative;
    top: -30px;

}
.header-title-5 {

    font-size: 23px;

    position: relative;
    top: -50px;

}




.header-container-three {

    width: 250px;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-icons{
    position:absolute;
    top: 10px;
    right: 20px;


}

.social-icons > i{
    padding: 5px;
    font-size: 15px;
}

.header-container-three > span{

    display: flex;
    justify-content: center;
    align-items: last baseline;

    height: 30px;
    width: 150px;

    position: relative;
    top: 50px;

    font-size: 15px;

    border: 1px solid rgb(210, 182, 144);
    border-radius: 4px;
    color: rgb(219, 216, 149);
    background-color:  rgb(9, 154, 154);
}



/* Strait-line or dotted-line css */
.strait-line{

    height: 7px;
    width: 100%;
    background-color: rgb(28, 73, 73);


    display: flex;
    justify-content: center;
    align-items: center;
}

.strait-line span{

    width: 100%;
    border-bottom: 3px double rgb(0, 111, 111);
}





/* ############## Nav Section ############# */

nav {

    background-color: rgb(2, 104, 104);
    width: 100%;
    min-height: 80px;
    


    position: sticky;
    top: 0; /* here.. top na dile position kaj kore na */
    z-index: 999;
   
}

.nav-container{
    padding: 10px;
}

.nav-container ul{

    list-style: none;

    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}
.nav-li{
    padding: 5px;

    display: flex;
    

}
.nav-li a{
    text-decoration: none;
    color: inherit;
}
.nav-li i{
    font-size: 15px;
    padding: 5px;


}

.nav-li[title='dropdownItems']{

    /* background-color: #757b7b; */

    display:block;
}

.dropdownItems{
    /* items Tree [=> .dropdownItems > ul > li;]  */
    display: none;
}

.dropdownItems ul{

    display: block;
    /* flex-direction: column; */
    

    position: absolute; /*ul box ta niche near jonno*/
    /* background-color: black; */
}
.dropdownItems ul  li{
   
    background-color: rgb(37, 88, 88);
    padding: 10px 20px;
    /* margin-bottom: 1px; */

    /*li box gula left right align korar jonno*/
    position: relative;
    right: 50px;
}
.dropdownItems ul li:hover{
    background-color: tan;
    color: teal;
}


.nav-li:hover .dropdownItems{
    display: flex;  
}








/* ############ Container section  ############ */




.container {    

    width: 100%;
    min-height: 700px;

    background-color: #afb0b0;
    background-image: url(./images/ashkan-forouzani-7blIFp0kFP4-unsplash.jpg);
    background-size: cover;

     /* flex use for wrap the container-one
    display: inline-flex; */
}

.container-one{
    /* border: 5px double tan; */
    min-height: 600px;



    display:flex;
    /* flex-wrap: wrap; */


}

/* left side of .container-one */

.container-one-content{
    /* border: 5px dotted teal; */
    width: 55%;
    padding: 0 20px 0 30px;


    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-one-image{
    background-image: url(./images/sidik-kurniawan-hiFpJqA4FcE-unsplash.jpg);
    width: 100%;
    height: 70%;

    background-repeat: no-repeat;
    background-size:cover;

    border-radius:10px ;
}




/* sidebar OR right side of .container-one */

.container-one-sidebar{
    /* border: 2px solid teal; */
    width: 45%;


}
.one-sidebar-h3{

    position: relative;
    left: 10px;
    top: 10px;

    z-index: 1;
}

.one-sidebar-span{

    display: block;
    border-bottom: 0.1px solid rgb(199, 183, 162);

    width: 100px;
    margin-left: 8px;

}
.one-sidebar-category{

    /* background-color: #757b7b; */

    width: 90%;

}
.one-sidebar-category ul{
    /* background-color: #ba551e; */
    display: flex;
    

    list-style: none;

}
.one-sidebar-category ul li{
    /* background-color: #2e5f5f; */
    margin: 5px;
    padding: 8px 20px;
    font-size: 15px;
    
    color: teal;
    border:1px solid #2e5f5f;
    border-radius: 3px;


    position: relative;
    right: 30px;
}
.one-sidebar-category ul li:hover{
    color: whitesmoke;
    background-color: teal;
}










/* ############## Footer Section ############# */

footer {
    background-color: rgb(25, 98, 98);
    width: 100%;
    height: 190px;
    color: #757b7b;
    font-size: 15px;

    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content:end;
}
#copyright{
    position: relative;
    bottom: -20px;
}


