body{
    display: flex;
    justify-content: center;
    /* align-items: center;
    height: 500px; */
}

/* Re-use code start */

.contact{
    /* background-color: cadetblue; */
    width: 350px;
    
}
.contact > header{
    background-color: rgb(255, 156, 138);
    height: 100px;
    width: 98%;

    border-radius: 0 500px 100px;
    border: .05rem solid tomato;
    box-shadow: 5px 5px 10px 5px rgb(255, 126, 103);
    
    position: relative;
    top: 15px;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    background-color: whitesmoke;
    
    width: 100px;
    height: 50px;
    
    border: 2px solid tomato;
    
    border-radius: 0 500px 100px;
    
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > i{
    color: tomato;
    font-size: 30px;
    
}












.contact > main{
    
    background-color:  rgb(255, 234, 230);
    /* height: 300px; */
    /* padding: 5px; */
    border-radius: 2px;

    /* box-shadow: 5px 5px 10px tomato; */
    /* box-shadow: 5px 5px 15px tomato; */

    position: relative;
    z-index: 11;

}

.contact > main > h2{
    text-align: center;
    color:tomato;
    font-weight: 500;
}
.contact > main > p{
    color: rgb(255, 156, 138);
    text-align: center;
    font-size: 13px;
}


.contact > main > form{
    height: 100%;
    width: 100%;


    background-color: rgb(255, 220, 213);
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    
    
}
form > .form-child{
    /* background-color: teal; */
    width: 80%;
    padding: 10px;
}
.form-child > label{
    display: block;
    color: coral;
    font-size: 16px;
    font-weight: bold;

    /* padding: 10px; */
}
.form-child > label >span{
    display: block;
    padding:6px 0;
}
.form-child > label > input{
    display: block;
    height: 25px;
    width: 97%;

    border: 0.1rem solid #f1cec7;
    font-size: 13px;

}
textarea[name='massage']{
    display: block;
    height: 100px;
    width: 98%;
    border: 0.1rem solid #f1cec7;
}

.form-child > label > input[type="submit"]{
    width: 40%;
    height: 35px;
    margin: 10px;

    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 224, 219);

    background-color: rgb(255, 156, 138);
    border: none;
    border-radius: 2px;
    
    position: relative;
    left: 65px;
}

.form-child > label > input[type="submit"]:hover{
    color:white;
    background-color: tomato;
}

/* Re-use code start */