h1,h4{
    text-align: center;
    color: teal;
}
h4{
    color: red;
}
body{
    /* padding: 0; */
    /* margin: 0; */
    text-align: center;
    /* background-color:cornflowerblue; */
}

header{
    min-height: 60px;
    background-color: tomato;
    padding: 5px;
}
nav{
    min-height: 30px;
    background-color: tan;
    padding: 5px;
}


/* main start  */
main{
    min-height: 300px;
    background-color: turquoise;

    padding: 25px;

    display: flex;
    flex-flow: column;
}
.main-span{
   position: absolute;
   left: 20px;
   top: 255px;
   
}

section{
    /* min-height: 100px; */
    background-color: yellowgreen;
    
    margin: 5px;
    padding: 15px;
    
    display: flex;
    width: 97%;/* because of padding.. */
    /* min-height: 500px; */
}
.section-span{
   position: absolute;
   left: 50px;
   top: 275px;
   
}

/* article start  */
article{
    width: 60%;
    /* min-height: 50px; */
    background-color: brown;
}

.article-span{

    position: absolute;
    left: 60px;
    top: 292px;

    color: whitesmoke;
}
article > section{
    min-height: 50px;
    width: 90%;
    margin: 20px;
}
/* End articale */



aside{
    width: 40%;
    /* min-height: 100px; */
    background-color: rgb(139, 31, 139);
    padding: 5px;
}
aside > section{
    display: flex;
    justify-content: center;
    width:91%;
}

.aside-section-span{
    position: relative;
    right: 90px;
    bottom: 10px;
 }
/* End main  */


footer{
    min-height: 30px;
    background-color: teal;
    padding: 10px;
}