
/* Fixed items */
body{
    padding: 0;
    margin: 0;
    font-size: 20px;

    display: flex;
    /* flex-direction: row; */
    flex-flow: wrap;
}
.container-item{
    height: 50px;
    width: 50px;
    background-color: rgb(120, 104, 104);
    margin: 1px;
}

.end-line {
    width: 100%;
    border-bottom: 2px dashed black;
    margin: 10px;
}



/*############### Middle Alignment ##############*/
.container-1{

    /* Center aligned .container content */
    display:flex;
    justify-content: center; /* left-right shift */
    align-items: center;/* top-down shift */


    margin: 10px;
    border: 2px solid red;
    height: 200px;
    width: 200px;
}

/* ##########  Right Top Alignment ############*/

.container-2{

    /* top-right aligned .container content */

    display: flex;
    justify-content: end;/*[left-right shift] */
    

    margin: 10px;
    border: 2px solid green;
    height:200px;
    width: 200px;
}

.container-3{

    /* Center-end/end baseline aligned .container content */

    display: flex;
    justify-content: center;/* left-right shift */
    align-items: end;/* top-down shift */
    

    margin: 10px;
    border: 2px solid yellowgreen;
    height: 200px;
    width: 200px;
}
.container-4{

    /* right-end aligned .container content */

    display: flex;
    justify-content: end;/* left-right shift */
    align-items: end;/* top-down shift */
    

    margin: 10px;
    border: 2px solid yellow;
    height: 200px;
    width: 200px;
}

.container-5{

    /* end-middle aligned .container content */

    display: flex;
    justify-content: end;/* left-right shift */
    align-items: center;/* top-down shift */
    

    margin: 10px;
    border: 2px solid violet;
    height: 200px;
    width: 200px;
}
.container-6{

    /* end-middle aligned .container content */

    display: flex;
    /* justify-content:flex-start;left-right shift */
    align-items: center;/* top-down shift */

    margin: 10px;
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}

.container-7{


    display: flex;
    justify-content: space-around;
    align-items:start;



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-8{


    display: flex;
    justify-content: center;
    align-items:last baseline;



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-9{


    display: flex;
    justify-content: space-between;
    align-items:end;



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-10{


    display: flex;
    flex-direction: column;
    justify-content:space-around;/*Its work like align-items:; coz.. flex column*/
    align-items: center; /* Its work like justify-contant:; coz.. flex column*/



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-11{


    display: flex;
    flex-direction: column;
    justify-content:space-around;/*Its work like align-items:; coz.. flex column*/
    align-items: baseline; /* Its work like justify-contant:; coz.. flex column*/



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-12{


    display: flex;
    flex-direction: column;
    justify-content:space-around;/*Its work like align-items:; coz.. flex column*/
    align-items:end; /* Its work like justify-contant:; coz.. flex column*/



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
.container-13{


    display: flex;
    flex-direction: column;
    justify-content:space-around;/*Its work like align-items:; coz.. flex column*/
    align-items:last baseline; /* Its work like justify-contant:; coz.. flex column*/



    margin: 10px;
    border: 2px solid skyblue;
    height: 200px;
    width: 200px;

    
}
